body {
    background-image: url(bg-pattern-top-desktop.svg);
}

.block{
    height: 230px;
    width: 25%;
    float: left;
    background-color: rgb(96, 15, 94);
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 9px;
    text-align: center;
  }
  .block-1{
    height: 230px;
    width: 25%;
    float: left;
    background-color: rgb(96, 15, 94);
    margin-left: 20px;
    margin-top: 43px;
    border-radius: 9px;
    text-align: center;
    
  }
  .block-2{
    height: 230px;
    width: 25%;
    float: left;
    background-color: rgb(96, 15, 94);
    margin-left: 20px;
    margin-top: 50px;
    border-radius: 9px;
    text-align: center;
  }
  .block-3 {
    border: 1px solid rgb(245, 235, 235);
    background-color: rgb(246, 242, 242);
    width: 20%;
    height: 40px;
    float: right;
    border-radius: 5px;
    position: relative;
    right: 22rem;
    top: -10rem;
    
  }
  .block-4 {
    border: 1px solid rgb(245, 235, 235);
    background-color: rgb(246, 242, 242);
    width: 20%;
    height: 40px;
    float: right;
    border-radius: 5px;
    position: relative;
    right: 19rem;
    top: -9rem;
  }
  .block-5 {
    border: 1px solid rgb(245, 235, 235);
    background-color: rgb(246, 242, 242);
    width: 20%;
    height: 40px;
    float: right;
    border-radius: 5px;
    position: relative;
    right: 16rem;
    top: -8rem;
  }